extends layout

block content
  h1= title
  
  p Welcome to Eagle Class
  - let result = [{ name: "Thunder", age: 12, description: "Majestic Bald Eagle with keen hunting skills."},{ name: "Aurora", age: 8, description: "Golden Eagle, a fearless mountain hunter."},{ name: "Skyler", age: 3, description: "Young and curious Harpy Eagle exploring the rainforest."}]   
   div.container-fluid 
    div.row
     each eagle,index in result
      div.col-sm-2(onclick=`buy(${index})`) #{eagle.name}
      div.col-sm-2(onclick=`buy(${index})`) #{eagle.age}
      div.col-sm-2(onclick=`buy(${index})`) #{eagle.description}
      br
      hr

  script. 
       function buy(index)
       {
        alert(`you purchased Item: ${index+1}`)
       }


    

  